body{
    background-color: #39A0D1;
}
.card{
    max-width: 25rem;
    margin-top: 50px;
    border-radius: 30px;
}
footer{
  text-align: center;
  margin-top: 40px;
}
.navbar-brand:hover{
    cursor: none;
}
#loginButton{
    margin-top: 15px;
}