body{
    background-color: #39A0D1;
}
.container-fluid{
    margin-top: 10px;
}
.card-header{
    text-align: center;
}
.card{
    border-radius: 30px;
}
.errorCard{
    max-width: 20rem;
    margin-top: 10px;
}
.loginCard{
    max-width: 25rem;
    margin-top: 50px;
}
/*.accountDetailsHome{*/
/*    max-width: 25rem;*/
/*}*/
/*.studentDetailsHome{*/
/*    max-width: 40rem;*/
/*}*/
/*.classesHome{*/
/*    max-width: 40rem;*/
/*}*/
footer{
  text-align: center;
  margin-top: 40px;
}
.navbar-brand:hover{
    cursor: none;
}
#loginButton{
    margin-top: 15px;
}